@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Corvetta Personal Use";
    src: url("https://db.onlinewebfonts.com/t/7edee2bc2d05e670908cdd165fb8b861.eot");
    src: url("https://db.onlinewebfonts.com/t/7edee2bc2d05e670908cdd165fb8b861.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7edee2bc2d05e670908cdd165fb8b861.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7edee2bc2d05e670908cdd165fb8b861.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7edee2bc2d05e670908cdd165fb8b861.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7edee2bc2d05e670908cdd165fb8b861.svg#Corvetta Personal Use")format("svg");
}